<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
	<div class="form">
        <div class="form-item">
            <label for="">用户名</label>
            <input type="text" placeholder="请输入用户名">
        </div>
        <div class="form-item">
            <label for="">密码</label>
            <input type="password" placeholder="请输入密码">
        </div>
        <div class="form-item">
            <label for="">确认密码</label>
            <input type="password" placeholder="请输入密码">
        </div>
        <div class="btns">
            <button type="button" id="login">确定</button>
        </div>
    </div>
</body>
</html>